@import "tailwindcss/base";

@import "tailwindcss/components";

@import "buttons/buttons.scss";
@import "alerts.scss";

@import "forms/customforms.scss";

@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.dv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dv-header{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.timeline:before{
    border-radius: 0.25rem;
    background: #dee2e6;
    bottom: 0;
    content: '';
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline > div{
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline > div::before, .timeline > div::after {
    content: "";
    display: table;
}

.timeline > div > .fa,
.timeline > div > .fas,
.timeline > div > .far,
.timeline > div > .fab,
.timeline > div > .glyphicon,
.timeline > div > .ion {
    background: #adb5bd;
    border-radius: 50%;
    font-size: 15px;
    height: 30px;
    left: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.activeTab{
    @apply bg-blue-600 text-white
}

.activeTab:hover{
    @apply bg-blue-700
}